*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  
}
*{
  /* overflow-x: hidden; */
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  display: block;
  /* position: relative; */
  width:100vw !important;
}

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: url(img/back4.jpg);
  background-size: 100%;
  object-fit: contain;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -999;
}
.container{
  display: flex;
  flex-direction: column;
}


.nav .header_desktop {
  width:100%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content:space-between;
  height: 86px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top:0;
  z-index: 999;
  background-color: white;
}

.nav .header_mobile {
  display: none;
}
/* .nav .social_link ul {
flex-direction: row;
  list-style: none;
}  display: flex;
   */
/* .nav .social_link ul > li {
  margin-left: 10px;
} */
.nav .social_link ul > li img {
  /* width: 17px; */
}
.nav .link-phone_number {
  /* position: relative; */
  display: flex;
  min-width: 130px;
  justify-content: center;
  align-items: center;
  font-size: 7px !important;
  font-weight: 700;
 background-color: blue;
 border-radius: 5px;
 padding-left:10px;
 padding-right: 10px;
 padding-top: 1px;
 padding-bottom: 1px;
 height:35px;
 
}
.home_text > a{
  width:130px !important;
  background-color: black!important;
  cursor: pointer !important;
}


.home_text h1{
  font-size: 75px;
  line-height: 100px;
  font-weight: 100;
  font-family: 'DM Serif Display', serif !important;
}
.nav .link-phone_number img {
  width: 24px;

}
.nav .link-phone_number a{
  color: white;
  font-size: 12px;
}
.social_link{
  width:10%;
  margin-right: 10px;
  margin-top: 10px;
}
.nav .header_desktop .logo {
  width: 80px;
  margin: 0px 12px; 
  background-color: #d9dd20;
}
.nav .header_desktop .social_link{
  /* width:100px; */
  /* margin-right:70px; */
  font-size: 1px; 
  padding: 0;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.nav .header_desktop .desktop_header{
  /* width:60%; */
  /* margin-left:150px; */
  /* background-color: aqua; */
}
.nav .header_desktop .logo img{
  width:60px;
}

.nav nav {
  width: 100%;
  margin: auto;
  text-align: center;
  overflow-x: hidden;

}
 .mobile_header{
  display: none;
  background-color: #d9dd20;
}
.bg-container .move {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* height:70px; */
  /* color:white; */
  margin-top: -200px;
  /* background-color: #d9dd20; */
}

.bg-container .move img {
  cursor: pointer;
  width: 35px;
  height:40px;
  padding: 3px;
  border-radius: 50%;
  /* background: white; */
  margin: 0px 20px;
  position: relative;
  z-index: 5;
  color:white;
}

.nav .move img:active {
  position: relative;
  top: 2px;
  left: 3px;
  /* background: grey; */
}

.nav nav ul {
  padding: 0px;
  margin: 0px;
  
}
.bg-container{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d9dd20; */
  padding-bottom: -20px;
  margin-top: -100px;
  overflow-x: hidden;

}

.bg-container .move{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .header_desktop ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:10px auto;
}
.nav nav ul > li {
  list-style: none;
  padding: 5px;

}
.nav nav ul > li a {
  font-family: "Lexend", sans-serif;
  margin: 10px 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0em;
  color: black;
  transition: all 0.5s ease;
}
.nav nav ul > li a:hover {
  /* background: grey; */
  /* padding: 3px 5px; */
  border-radius: 4px;
  color: rgb(96, 125, 139) !important;
}

.bg-container .dot_move {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  /* position: relative; */
  bottom: 120px;
  justify-content: center;
  width: 100px;
  text-align: center;
  align-items: center;
  z-index: 999;
  width:100%;
  /* background-color: blue; */
  margin-top: 150px;
  z-index: 999;
}

.dot_move > .dot {
  margin: 20px 5px;
  width: 8px;
  height: 8px;
  background-color: rgb(219, 202, 51);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.bg-container .dot_move > .dot.active {
  padding: 7px;
}

.contact_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
  /* background: rgb(201, 199, 199); */
  width: 100%;
  height: 50px;
  z-index: 1000;
}
.contact_head .but_link a {
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 20px;
  background: rgb(43, 159, 94);
}
.nav .contact_head .link-phone_number a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-family: "Lexend", sans-serif;
}
.nav .contact_head .link-phone_number img {
  width: 30px;
}
section {
  margin: 50px 5px;
}
#partner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  overflow-x: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;

}
#partner > div{
  width: 200px;
}

#partner > div img {
  width: 100%;
}
#partner > * {
  margin: 5px;
}
#proposal > article {
  width: 100% !important;
  padding: 20px 40px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right:130px;
  overflow-x: hidden;

}
#proposal .proposal_mobile_link {
  display: none;
}
#proposal > article div {
  width: 40%;
  position: relative;
}
#proposal p {
  margin-top: 0px;
}
#proposal .img {
  width: 500px;
  height: 300px;
  position: relative;
  background: rgb(164, 253, 178);
  padding: 0px;
  margin: 0px;
}

#proposal img {
  width: 500px;
  height: 300px;
  transition: all 0.4s linear;
  cursor: pointer;
}
#proposal img:hover {
  transform: scale(1.1);
}

#proposal .note > .head {
  font-weight: 700;
  font-size: 38px;
  font-family: inherit;
}
#proposal .note > .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
}
#proposal .proposal_link {
  text-align: center;
  margin: 10px;
}
#proposal .proposal_link > a {
  display: inline-block;
  color: white;
  background: rgba(27, 82, 223, 1);
  text-align: right;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 35px;
}
#what_we_do {
  width: 100%;
  margin: auto;
  padding: 10px 20px;
}
#what_we_do h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  font-family: "Lexend", sans-serif;
  text-align: center;
}
#what_we_do .note_on_what_we_do {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(244, 244, 244, 1);
  border-radius: 20px;
}

#what_we_do .note_on_what_we_do > div {
  width: 370px;
  background: rgba(0, 0, 0, 1);
  border-radius: 15px;
  height: 370px;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  padding-top: 40px;
  text-align: center;
}

#what_we_do .note_on_what_we_do > div img {
  width: 100px;
  height: 100px;
}

#eye_catching {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgba(244, 244, 244, 1);
}
#eye_catching > * {
  width: 45%;
}
#eye_catching .note {
  flex: 1;
}
#eye_catching .note > div {
  width: 70%;
  margin: auto;
}
#eye_catching .note .head {
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}
#eye_catching .note .text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}
#eye_catching .note .proposal_link {
  text-align: center;
}
#eye_catching .note .proposal_link > a {
  display: inline-block;
  color: white;
  background: rgba(27, 82, 223, 1);
  text-align: right;
  padding: 10px;
  border-radius: 35px;
}
#eye_catching .mobile_proposal_link {
  display: none;
  text-align: center;
}
#eye_catching .mobile_proposal_link > a {
  display: inline-block;
  color: white;
  background: rgba(27, 82, 223, 1);
  text-align: right;
  padding: 10px;
  border-radius: 35px;
}

#client {
  width: 90%;
  margin: 100px auto;
}
#client h3 {
  font-family: "Lexend", sans-serif;
  font-size: 47px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
}

#client .client_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* animation: marquee 5s linear infinite;
  position:absolute; */
}

#client .client_logo > p {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 10px;
  background: rgba(242, 239, 245, 1);
}
#client .client_logo > p img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#client .client_logo > .mol {
  background: rgba(242, 239, 245, 1);
}
#client .client_logo > .cos {
  background: rgba(234, 247, 250, 1);
}
#client .client_logo > .cos img {
  width: 100px;
  height: 100px;
}
#client .client_logo > .tia {
  background: rgba(237, 249, 236, 1);
}
#client .client_logo > .mec img {
  border-radius: 0px;
}
#client .client_logo > .nat {
  background: rgba(251, 243, 233, 1);
}
#client .client_logo > .nat img {
  border-radius: 0px;
  width: 90%;
  height: 20px;
}
#client .client_logo > .sam {
  background: rgba(251, 233, 248, 1);
}
#client .client_logo > .sam img {
  border-radius: 0px;
}

#client .brand_link {
  text-align: center;
  padding-top: 30px;
}

#client .brand_link > a {
  display: inline-block;
  font-family: "Lexend", sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  padding: 16.3042px 27.95px;
  background: #d9dd20;
  background: black;
  border-radius: 34.9375px;
  color: white;
}

#recent_works {
  width: 100%;
}
#recent_works .rw {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */
  margin: auto;
  overflow-x: auto;
  background-color: aqua;
  width:80%;
  overflow-x: scroll;
}
#recent_works .rw > * {
  margin: 5px 20px;
 
}
#recent_works .rw img:nth-child(odd),
#recent_works .rw > div img {
  /* width: 382px;
  height: 226px; */
  width: 282px !important;
  height: 180px !important;
   
}
#recent_works .rw img:nth-child(even) {
  /* width: 334px;
  height: 492px; */
  width: 240px;
  height: 400px;
}
#recent_works .rw > div {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 592px; */
  height: 400px;
  background-color: #d9dd20;
}
#recent_works .rw > div p {
  font-family: "Lexend", sans-serif;
  margin-top: 0px;
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}

#recent_works .rd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#recent_works .rd > * {
  width: 30%;
  margin: 10px;
}
#recent_works .rd img {
  width: 100%;
}
#recent_works .rd .hd {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0px;
}
#recent_works .rd .sb {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 0em;
}
#about {
  background: rgba(239, 234, 226, 1);
}
#about p {
  font-family: "Inter";
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  padding: 50px;
}

.black_proposal {
  background: black;
  color: white;
  width: 95%;
  border-radius: 15px;
  padding: 8px 0px;
}
.black_proposal article{
  width:90%;
}

#testimonial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: rgba(242, 246, 252, 1);
}
#testimonial > div {
  width: 40%;
  margin: 10px auto;
  text-align: center;
}
#testimonial h3 {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
}
#testimonial .testy {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
#testimonial .testy_img p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}
#testimonial .proposal_link {
  text-align: center;
}
#testimonial .mobile_proposal_link {
  display: none;
}
#testimonial .proposal_link > a {
  display: inline-block;
  color: white;
  background: rgba(27, 82, 223, 1);
  text-align: right;
  padding: 10px;
  border-radius: 35px;
}

footer {
  background: rgba(255, 248, 212, 1);
  width: 100%;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: black;
}
footer p {
  word-break: break-all;
  text-align: center;
}
footer h3 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  color: rgba(28, 99, 95, 1);
}
footer article {
  max-width:100px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
footer ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

footer .page_link,
footer .social_link > ul {
  flex: 0.6;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  overflow-x: hidden;
}
footer .social_link {
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
footer .social_link > ul li {
  margin: 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;

}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@media (min-width: 2000px) {
  body {
    width: 2000px;
    margin: auto;
  }
}

@media (max-width: 1300px) {
  #proposal {
    padding: 15px;
    justify-content: center;
  }
  #proposal > div {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  footer article {
    display: flex;
    min-width:350px !important;
  }
  footer article .social_link{
    width: 100%;
    display: flex;
  }
  .home_text h1{
    font-size: 45px;
    ;
  }
  .center{
    display: block !important;
   
}
  .nav .header_desktop {
    display: none !important;
  }
  .nav  .header_mobile {
    display: block;
    background: white;
    margin-top: -10px;
  }

  .nav .header_mobile .default_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    transition: all 0.5s linear;
  }
  .nav .header_mobile .default_display .menu_bar {
    cursor: pointer;
  }
  .nav .header_mobile .mobile_header {
    position: absolute;
    top: -700px;
    transition: all 0.5s linear;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    background: white;
    z-index: 400;
    transition: all 0.5 ease;
  }
  .nav .header_mobile img {
    width: 30px;
  }
  .nav .header_mobile .logo img {
    width: 50px;
  }
  .nav .display_menu {
    position: absolute;
    top: 50px !important;
    border-top: 0.5px dashed grey;
  }
  .nav .display_menu ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .nav .display_menu .social_link ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav .display_menu .social_link ul li {
    padding: 0px;
  }
  #partner {
    justify-content: center;
  }
  .black_proposal {
    padding: 35px;
  }
  #proposal > article {
    align-items: center;
  }
  #proposal > article div {
    width: 100%;
  }

  #what_we_do .note_on_what_we_do > div {
    width: 400px;
  }
  #eye_catching > * {
    width: 100%;
  }

  #eye_catching .note .proposal_link {
    display: none;
  }
  #eye_catching .mobile_proposal_link {
    display: block;
  }

  #client {
    width: 100%;
  }
  #about p {
    font-size: 20px;
    line-height: 33px;
    padding: 10px;
  }
  #recent_works .rw {
    justify-content: center;
  }
  #recent_works .rd {
    justify-content: center;
  }

  #recent_works .rw > div p {
    font-size: 50px;
    line-height: 70px;
  }
  #recent_works .rw > div {
    justify-content: center;
  }
  #recent_works .rw img:nth-child(even) {
    width: 382px;
  }
  #recent_works .rd {
    justify-content: center;
  }
  #recent_works .rd > * {
    width: 300px;
  }
  #some_notes > div {
    width: 500px;
    margin: 10px;
  }
  #testimonial > div {
    width: 80%;
  }
  #testimonial .proposal_link {
    display: none;
  }
  #testimonial .mobile_proposal_link {
    display: block;
  }
  #proposal .proposal_desktop_link {
    display: none;
  }
  #proposal .proposal_mobile_link {
    display: block;
    margin: 20px auto;
  }
}

@media (max-width: 766px) {
}
@media (max-width: 650px) {
  #partner{
    gap:3em;
  }
  .home_text  h1 {
    font-size: 30px;
  }
  #proposal > article {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    object-fit: contain;
  }
  #proposal > article > div{
    width:300px;
    margin-left: -50px;
  }
  #proposal > article > .img{
    width:350px;
    margin-left: -50px;
  }
  /* / */
  .nav .menu_bar {
    display: block;
    width: 20px;
    position: absolute;
    margin: 20px;
    right: 0px;
    cursor: pointer;
  }
  .mobile_header{
    display: block;
  }

  .nav .display_menu > ul {
    display: flex;
    flex-direction: column;
  }
  footer h3 {
    text-align: center;
  }
  footer article {
    display: flex;
    min-width:350px !important;
  }
  footer article .social_link{
    width: 100%;
    display: flex;
  }
  #proposal img {
    height: 300px;
    width: 100%;
  }
  #proposal .img {
    height: 100%;
  }
  #client {
    text-align: center;
  }
}

@media (max-width: 430px) {
  #proposal .proposal_desktop_link {
    display: block;
  }
  #proposal .proposal_mobile_link {
    display:none;
    margin: 20px auto;
  }
  #proposal > article{
    display:inline-flex;
    flex-direction: column-reverse;
    gap:2em;

  }
  #proposal > article div{
    width:300px !important;
    margin: auto;
    margin-left: -80px !important;
  }
  

  .home_text .title{
    width:300px;
    /* background-color: #d9dd20; */
  }
  .home_text h1{
    font-size: 20px;
    /* line-height: 100px; */
    font-weight: 700;
  }
  .nav .contact_head .but_link a {
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
  }
  .nav .contact_head .link-phone_number a {
    font-size: 10px;
  }
  .nav .contact_head .link-phone_number img {
  }
  #recent_works .rd > * {
    width: 90%;
  }
  #proposal .note > .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.2px;
  }
  #proposal .note > .head {
    font-weight: 700;
    font-size: 30px;
    font-family: inherit;
  }

  #recent_works .rw img:nth-child(even) {
    width: 90%;
  }
  #recent_works .rw img:nth-child(odd) {
    width: 90%;
  }

  #what_we_do h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    font-family: "Lexend", sans-serif;
    text-align: center;
  }
  .nav .display_menu .social_link ul li {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 375px) {
  .home_text{
    width:200px;
  }
  #proposal > article div{
    width:300px !important;
    margin: auto;
    margin-left: -80px !important;
  }
}
@media (max-width: 330px) {

  .nav {
    background: none;
    height: auto;
    position: relative;
    background-image: none;
  }
  .nav .contact_head {
    display: none;
  }
  .nav .logo {
    position: relative;
    top: 0px;
  }
  .nav .menu_bar {
    top: -10px;
  }
  .nav .move {
    display: none;
  }
  header .bg-container {
    display: none;
    color: white;

  }
  #partner {
    margin: 0px;
  }

  #proposal .note > .head {
    font-size: 23px;
  }
  #proposal .note > .text {
    font-size: 13px;
  }
  #proposal .proposal_link > a {
    padding: 5px;
    font-size: 12px;
  }
  #proposal img {
    height: 180px;
  }
  #what_we_do h3 {
    font-size: 30px;
    line-height: 40px;
  }
  #what_we_do {
    padding: 0px;
  }
  #what_we_do .note_on_what_we_do > div {
    width: 100%;
  }

  #eye_catching {
    width: 100%;
  }
  #eye_catching .note .head {
    font-size: 30px;
    line-height: 40px;
  }
  #eye_catching .note .text {
    font-size: 13px;
    line-height: 20px;
  }
  #eye_catching .note .proposal_link > a {
    padding: 5px;
    font-size: 12px;
  }
  #client h3 {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
  }
  #client .brand_link > a {
    font-size: 15px;
    padding: 5px;
  }
  #about p {
    font-size: 15px;
    line-height: 25px;
    padding: 3px;
  }
  #recent_works .rw > div p {
    font-size: 30px;
    line-height: 40px;
  }
  #recent_works .rw img:nth-child(odd),
  #recent_works .rw > div img {
    width: 100% !important;
    height: 100px !important;
  }
  #recent_works .rw img:nth-child(even) {
    width: 100px;
    height: 200px;
  }
  #recent_works .rw > div {
    height: 200px;
  }
  #proposal > article {
    padding: 5px;
    justify-content: center;
  }
  #some_notes > div {
    width: 100%;
    margin: 3px;
  }
  section {
    margin: 100px 0px;
  }
  #testimonial h3 {
    font-size: 28px;
    line-height: 36px;
  }
  #testimonial .testy_img img {
    width: 100%;
  }
  #testimonial .proposal_link > a {
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }

  footer h3 {
    font-size: 20px;
    line-height: 28px;
  }
  footer ul {
    padding: 0px;
  }
}




:root{
  --bg-color:#ededed;
}
.main2{
  width:80%;
position: relative;
padding-top:  90px;
display: flex;
align-items: center;
justify-content: space-around; overflow: hidden;
margin: auto;
/* margin-left: 250px; */
  margin-top: -100px;
  margin-bottom: 50px;
}
.main3{
  /* height:1920px; */
  padding: 20px;
  width: 200%;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  margin-left: -268px;
}

.main2 .scrollEdge i{cursor: pointer;}
.main2 .scrollEdge{
  position: absolute;
  display: flex; height:calc(100% - 100px); z-index: 1;justify-content: center; align-items: center; padding: 0 20px;
}
.scrollEdge .ctrlbtn{
  height: 40px; width: 40px;    border-radius: 50%;    background-color: rgb(249, 250, 251);   box-shadow: 1px 1px 5px rgb(180, 179, 179);    display: flex;  align-items: center;
  justify-content: center;    font-size:1.3rem;
}
.main2 .right{
right: 0; 
}
.main2 .left{
left: 0; 
}

.main2_text{
  margin-top: -15px;
  padding:0  15px;
}
.image{
  width: 100%; 
  height: 100%;  
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.image_wrapper{
   width: 300px; 
   height: 250px;
}
.main2_wrapper{
  /* height: 350px; */
  width: 250px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 25px 0px rgb(223, 217, 217); */
  margin-left: 50px;

}
.p3{
  font-size: 20px;
  font-weight: bold;
}

.slideInRight {
  animation-name: slideInRight2;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes slideInRight2 {
  from {
    
    transform: translateX(100%);
  }
  to {
    
    transform: translateX(0%);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes slideInLeft {
from {
  transform: translateX(-100%);
  
}
to {
  
  transform: translateX(0%);
}
}

.each-dot{
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: white;
}
.dot-board{
  display:flex;
  justify-content: center;
  /* position: absolute; */
  /* bottom: -40px; */
  gap:0.5em;
}
.move i{
  color:white;
  font-size: xx-large;
  padding: 10px;
  cursor:pointer;
}
.sticker{
  width:50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:blue;
  position: fixed;
  right:100px;
  z-index: 999;
  bottom:50px;
  cursor: pointer;
}
.sticker i{
  color:white;
}


.nav{
    
  width:100%;
  display: flex;
  justify-content: space-between;

  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  /* background-color: transparent; */
  background-color: white !important;
  /* backdrop-filter: blur(15px); */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.042);
  transition: 0.2s;
  color: black !important;
  padding-left: 20px;
  padding-right: 20px;
}
ul{
  margin:0;
  color:black;
}
.fixed-nav{
  box-shadow: light-shadow;
  background-color: rgb(177, 177, 13);
  position: fixed !important;
  top:0 !important;
  transition: 0.2s ease-in-out;
  z-index: 1000;
  width: 100%;
  /* height:80px; */
}
.Logo_nav{
  width:10%;
}
.logo{
  width:70px;
  font-size: 40px;
  margin: 0;
  margin-top: 10px;

}
.list_nav{
  width:70%;
  /* background-color: #d9dd20; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  /* gap:2em; */
}
.social_link ul{
  display: flex;
  gap:0.2em;
}
nav a:hover {
  border-bottom: 0 !important;
  color: rgb(223, 222, 222) !important;
} increase leads,
.men{
  width:50%;
  height: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2em;
  font-size: 12px;
  font-weight: bold;

}
.hide{
 
  width:100%;
  height:100vh;
  position: absolute;
  left:0px;
  top:85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3em;
  transition: 0.5s ease-in-out;
  background-color: white;
  color: black;
  visibility:hidden;
  padding-top: 20px;
  padding-bottom: 50px;
  /* z-index: -900; */
  /* animation: emy 3s ease-in; */
}
.hide a{
  color:black  !important;
}
.hide-style{
  visibility:visible;
  z-index: 999;
  /* transition: 0.5s; */
}
.body-hide{
  visibility: hidden;
}

/* Animation for the toggle menu */
@keyframes emy{
  0%{
      left:-100px;
  }
  50%{
      left:0px
  }
  100%{
      left:300px
  }
}
.animation{
  animation: emy 0.3s ease-in;

/* Animation End */

}

ul li{
list-style: none;
color: rgb(209, 209, 9);
}
.list_nav a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  color: black;
}
.Logo_nav a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.button_nav{
  background-color: black;
  color:white;
  width:100px;
  height:30px;
  border: none;
  border-radius: 5px;
  margin-top:20px;
}
#check, #burger, #bug{
  display:none;
}
.list_nav a:hover{
  color:rgb(98, 0, 255);
  border-bottom: 3px solid rgb(98, 0, 255);
}
.button_nav:hover{
  background-color: rgb(98, 0, 255);
}
.xx{
  display:none;
}
@media only screen and (max-width:835px){
  .social_link, .link-phone_number{
    display: none;
  }
  #burger{
      display:block;
      position: absolute;
      right:20px;
      font-size: 30px;
      top:19px;
  }
  #bug{
      display:block;
      /* color: black; */
  }
  .button_nav{
      display: none;
  }
  .men{
      width:100%;
      height:100vh;
      position: absolute;
      left:-850px;
      top:90px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:3em;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.767);
      color: white;
  }
  input[type="checkbox"]:checked + .men{
      left:0;
      top:60px;
      transition: 0.5s;
  }
  a{
      color:white;
  }
  .center{
      visibility: visible;
  }
  .service-box{
      /* width:500px; */
  }
  .service-flex{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .center{
      display: block !important;
     
  }
 
}
@media only screen and (max-width:1300px){

  .about-skill-box{
      width:100%;
  }
  .skills-container{
      width:90%;
  }
  
}

.center {
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  /* margin-top: -10px; */
  display: none;
}


.menu-icon div {
  background-color: rgb(216, 213, 213);
  width: 40px;
  height: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.menu-icon div:last-child {
  margin-bottom: 0px;
}

.line-1.animate {
  animation-name: animate-line-1;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.line-2.animate {
  animation-name: animate-line-2;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.line-3.animate {
  animation-name: animate-line-3;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.line-1 {
  animation-name: animate-line-1-rev;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.line-2 {
  animation-name: animate-line-2-rev;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.line-3 {
  animation-name: animate-line-3-rev;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.start {
  animation: none !important;
}

/* animation */
@keyframes animate-line-1 {
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px) rotate(44deg);
  }
}

@keyframes animate-line-2 {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-3 {
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(-15px) rotate(-44deg);
  }
}

/* reverse */
@keyframes animate-line-1-rev {
  0% {
    transform: translateY(15px) rotate(44deg);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translateY(-15px) rotate(-44deg);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width:530px){
  .menu-icon div {
    width: 27px !important;
    height: 3px !important;
    margin-bottom: 5px !important;
}
  .wrapper{
      width:270px;
  }
  /* animation */
@keyframes animate-line-1 {
  50% {
    transform: translateY(8.5px);
  }
  100% {
    transform: translateY(8.5px) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-3 {
  50% {
    transform: translateY(-8.5px);
  }
  100% {
    transform: translateY(-8.5px) rotate(-45deg);
  }
}

/* reverse */
@keyframes animate-line-1-rev {
  0% {
    transform: translateY(8.5px) rotate(45deg);
  }
  50% {
    transform: translateY(8.5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translateY(-8.5px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8.5px);
  }
  100% {
    transform: translateY(0);
  }
}
}