*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  margin: 0px;
  background: none;
  height: auto;
}

#sub_head {
  margin: 0px;
  padding: 30px 0px;
  width: 100%;
  background: rgba(227, 227, 227, 1);
}
#sub_head h1 {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
#sub_head h1:last-child {
  font-family: 'Inter', sans-serif;
  font-size: 58px;
  font-style: italic;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}
#client_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#client_details > article {
  padding: 20px;
  width: 30%;
  margin: 20px 5px;
  background: rgba(230, 230, 226, 1);
  border-radius: 10px;
  height:400px;
  position:relative;
}
#client_details > article > div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#client_details > article img {
  width: 100px;
  height: 100px;
  text-align: center;
}
#client_details > article .name {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
#client_details > article .content {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
#client_details > article small {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 10px;
}

@media (max-width: 1200px){
    #client_details > article{
        width: 40%;
    }
}
@media (max-width: 900px){
    #client_details > article{
        width: 45%;
    }
}
@media (max-width: 700px){
    #client_details > article{
        width: 400px;
    }
}
@media (max-width: 500px){
  #sub_head h1:last-child {
    font-size: 38px;
    line-height: 48px;
  }
    #client_details > article{
        width: 80%;
    }
}
@media (max-width: 300px){
  #sub_head h1:last-child {
    font-size: 28px;
    line-height: 30px;
  }
  #sub_head h1:first-child,
  #sub_head h1 {
    font-size: 25px;
  }
    #client_details > article{
        width: 90%;
    }
}

