*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Inter', sans-serif;
}
section {
  margin: 100px 5px;
}

header {
  width: 100%;
  background:none;
  background-image:none;
}
header nav {
  width: 100%;
  margin: auto;
  text-align: center;
}
header nav ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header nav ul > li {
  list-style: none;
  padding: 5px;
}
header nav ul > li a {
  font-family: 'Lexend', sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: black;
}

.head > div {
  margin: 20px 0px;
}

.head > .heading p {
  font-family: 'Lora', serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
}

.head > .sub_heading p {
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
}
.head > .services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.head > .services span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(232, 240, 254, 1) !important;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
}

.head > .services span p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.head > .services span img {
  width: 100px;
  height: 100px;
}

.head > .service_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.head > .service_list img {
  width: 150px;
  height: 150px;
}
.head > .service_list span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service1 > h3,
#service2 > h3 {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}
#service1 > p,
#service2 > p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
#service1 > article,
#service2 > article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#service1 > article > div,
#service2 > article > div {
  width: 400px;
  height: 450px;
  margin: 20px 10px;
  border-radius: 10px;
  text-align: center;
  padding: 0px 25px;
}

#service1 > article > div h5,
#service2 > article > div h5 {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}

#service1 > article > div p,
#service2 > article > div p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

#service1 > article > .smm {
  background: rgba(232, 240, 254, 1);
}
#service1 > article > .oa {
  background: rgba(239, 247, 207, 1);
}
#service1 > article > .cm {
  background: rgba(230, 244, 234, 1);
}
#service1 > article > .wdd {
  background: rgba(56, 56, 56, 1);
  color: white;
}
#service1 > article > .em {
  background: rgba(252, 232, 230, 1);
}
#service1 > article > .ppc {
  background: rgba(241, 241, 241, 1);
}
#service1 > article > .im {
  background: rgba(232, 240, 254, 1);
}
#service1 > article > .add {
  background: rgba(239, 247, 207, 1);
}
#service1 > article > .str {
  background: rgba(230, 244, 234, 1);
}

#service1 .proposal_link,
#service2 .proposal_link {
  text-align: center;
}
#service1 .proposal_link > a,
#service2 .proposal_link > a {
  display: inline-block;
  color: white;
  background: rgba(27, 82, 223, 1);
  text-align: right;
  padding: 10px;
  border-radius: 30px;
}

#service2 > article > .gd {
  background: rgba(232, 240, 254, 1);
}
#service2 > article > .br {
  background: rgba(239, 247, 207, 1);
}
#service2 > article > .me {
  background: rgba(230, 244, 234, 1);
}
#service2 > article > .ud {
  background: rgba(232, 240, 254, 1);
}
#service2 > article > .ex {
  background: rgba(232, 240, 254, 1);
}
#service2 > article > .ppc {
  background: rgba(217, 217, 217, 1);
}

#ads {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#ads > div {
  background: rgba(242, 246, 252, 1);
  width: 403px;
  height: 403px;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#ads > div img {
  width: 100px;
  height: 100px;
}
#ads > div > h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
#ads > div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width:1000px){
  
  #service1 > article > div, #service2 > article > div{
    width:45%;
  } 
 
}

@media (max-width:600px){
  #service1 > article > div, #service2 > article > div{
    width:80%!important;
  }  
}

@media (max-width:500px){
  .head > .services {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .head > .service_list {
    display: block;
}
#service1 > article > div, #service2 > article > div{
  width: 90%!important;
}
}


@media (max-width:300px){
  #service1 > article > div h5, #service2 > article > div h5 {
    font-family: 'Lexend', sans-serif;
    font-size: 22px;
    line-height: 30px;
}
#service1 > article > div p, #service2 > article > div p {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  line-height: 12px;
}
#ads > div img {
  width: 50px;
  height: 50px;
}
}