*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  margin: 0px;
  background: none;
  background-image: none;
  height: auto;
}

#sub_head {
  margin: 0px;
  padding: 30px 0px;
  width: 100%;
  background: rgba(227, 227, 227, 1);
}
#sub_head h1 {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
#sub_head h1:last-child {
  font-family: 'Inter', sans-serif;
  font-size: 58px;
  font-style: italic;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}

#about_agency {
  position: relative;
}
#about_agency img {
  position: absolute;
  top: 0;
  width: 300px;
  z-index: -9;
  bottom: 0px;
}
#about_agency .right_bg {
  top: -10px;
  right: 0;
}
#about_agency .about_content {
  width: 90%;
  margin: auto;
  text-align: center;
  background: rgba(232, 240, 254, 1);
  padding: 30px 40px;
}

#about_agency .about_content > h1 {
  font-family: 'Corben', 'Lexend';
  font-size: 96px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

#about_agency .about_content > p {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}

#about_text {
  width: 70%;
  text-align: center;
  margin: auto;
}
#about_text p {
  font-family: 'Inter', sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 750px) {
  #about_agency img {
    width: 200px;
  }
  #about_agency .about_content > h1 {
    font-size: 60px;
  }
  #about_agency .about_content > p {
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
  }
}
@media (max-width: 500px) {
  #sub_head h1:last-child {
    font-size: 38px;
    line-height: 48px;
  }
  #about_agency .about_content {
    padding: 10px 20px;
  }
  #about_agency img {
    width: 170px;
  }
  #about_agency .about_content > h1 {
    font-size: 60px;
  }
  #about_agency .about_content > p {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 300px) {
  #sub_head h1:last-child {
    font-size: 28px;
    line-height: 30px;
  }
  #sub_head h1:first-child,
  #sub_head h1 {
    font-size: 25px;
  }
}
